<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- CSS 연결 -->
        <link rel="stylesheet" href="/css/board.css" />
        <link rel="stylesheet" href="/css/board_detail.css" />
        <link rel="stylesheet" href="/css/common.css" />
    
    
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
        <!-- axios 사용 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <title>board_detail</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">Shooting_BasketBall</a>
        </div>
        <nav>
            <li><a href="/introduce">소개</a></li>
            <li><a href="/board">자유게시판</a></li>
          <li><a href="/shooting">슈팅 관련</a></li>
          <li> <a class="loginText" href="/login">로그인</a></li>
        </nav>
      </div>
      </div>
    </header>


    </div>

    <section class="section" id="section">
      <div class="title">
          <class="board_detail" id="board_detail">상세내용</class>
      </div>
      <article class="article">

      </article>
  </section>
  <section class="section01">
    <div class="">
      <h2>
        <td id="title" value="<%=data.title%>" type="text"><%=data.title%></td>
      </h2>
    </div>
    <div class="type">
      <table class="table">
        <tbody>
          <tr>
            <td>번호</td>
            <input
            type="text"
            value="<%=data.id%>"
            id="idid"
            style="display: none"
          />
            <td id="id" value="<%=data.id%>" type="text"><%=data.id%></td>
            <td>작성자</td>

            <td id="name" value="<%=data.name%>" type="text"><%=data.name%></td>
            <td>작성일자</td>
            <td id="createdAt" value="<%=data.createdAt%>" type="text"><%=data.createdAt%></td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="content">
      <textarea name="" id="" style="height:625px" readonly><%=data.content%></textarea>
    </div>
    <div class="listBtn">
      <button type="button"id="getList">목록</button>
      <tr>
        <button type="button"><a href="update/<%=data.id%>">수정</a></button>
      </tr>

      <button type="button" id="deleteBoard">삭제</button>
    </div>
  </section>
  <!--  section  -->
  <footer id="footer">    
      <div class="footerText">문의 : wcf941109@gmail.com</div>       
  </footer>
   <!-- 자바 스크립트 연결 -->
   <script type="text/javascript" src="/js/board.js"></script>
   <script type="text/javascript" src="/js/board_detail.js"></script>

</body>
</html>




