<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- CSS 연결 -->
        <link rel="stylesheet" href="/css/board.css" />
        <link rel="stylesheet" href="/css/common.css" />
    
    
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
        <!-- axios 사용 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>        <script
        src="https://kit.fontawesome.com/8ddf9e168a.js"
        crossorigin="anonymous"
      ></script>
    
    
    <title>Board</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">Shooting_BasketBall</a>
        </div>
        <nav>
            <li><a href="/introduce">소개</a></li>
            <li><a href="/board">자유게시판</a></li>
          <li><a href="/shooting">슈팅 관련</a></li>
          <li>  <div class="loginId">
            <% if(name){%>
            <div><%=name%>님 환영합니다</div>
            <span
              ><a href="/logout"
                ><i class="fa-solid fa-right-from-bracket"></i></a
            ></span>
            <% } else {%>
            <div class="navi"><a href="/login">로그인</a></div>
            <%}%>
          </div></li>        </nav>
      </div>
      </div>
    </header>
    <section class="section" id="section">
      <div class="title">
          <a href="/board" class="board" id="board">자유게시판</a>
      </div>
      <article class="article">
          <div class="write_wrap">
            <button type="button"><a href="/write">게시물작성</a></button></li>
          </div>

          <div class="board" id="board">
              <table> 
                  <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>게시일</th>
                    </tr>
                  </thead> 
                  <tbody>
                    <% data.forEach(el => { %>
                        <tr>
                            <td><a href="board_detail/<%=el.id%>"><%=el.id%></a></td>
                            <td><a href="board_detail/<%=el.id%>"><%=el.title%></a></td>
                            <td><%=el.name%></td>
                            <td><%=el.createdAt%></td>

                        </tr>
                        <% }) %>
                </tbody>
              </table>    
          </div>


        </select>
          </div>
      </article>
  </section>
  <div class="page_wrap">
    <div class="paging">
      <div class="ctrlBack">
        <a href="/board?id=1" id="leftStart" class="leftStart">
          <i class="arrow fa-solid fa-angles-left"></i>
        </a>
        <% if( Number(currentPage) <= 1) { %>
        <a href="/board?id=<%= 1 %>" id="left" class="right">
          <i class="arrow fa-solid fa-angle-left"></i>
        </a>
        <% } else { %>
        <a
          href="/board?id=<%=  Number(currentPage) - 1 %>"
          id="left"
          class="right"
        >
          <i class="arrow fa-solid fa-angle-left"></i>
        </a>
        <% } %>

        <div class="pageNum" id="pageNum">
          <% if(pageCount >= 5 ) { %> <% for ( let i = 0 ; i < 5 ; i++) { %>
          <a
            class="pageBtn <%= Number(currentPage) === i + 1 ? 'active':'' %>"
            href="/board?id=<%= i+1 %>"
            ><%= i + 1 %></a
          >
          <% } %> <% } else { %> <% for ( let i = 0 ; i < pageCount ; i++) {
          %>
          <a
            class="pageBtn <%= Number(currentPage) === i + 1 ? 'active':'' %>"
            href="/board?id=<%= i+1 %>"
            ><%= i + 1 %></a
          >
          <% } %> <% } %>
        </div>
        <% if( Number(currentPage) >= pageCount) { %>
        <a href="/board?id=<%= pageCount %>" id="right" class="right">
          <i class="arrow fa-solid fa-angle-right"></i>
        </a>
        <% } else { %>
        <a
          href="/board?id=<%= Number(currentPage) + 1 %>"
          id="right"
          class="right"
        >
          <i class="arrow fa-solid fa-angle-right"></i>
        </a>
        <% } %>

        <a href="/board?id=<%= pageCount %>" id="rightEnd" class="rightEnd">
          <i class="arrow fa-solid fa-angles-right"></i>
        </a>
      </div>
    </div>
  </div>

  <footer id="footer">    
      <div class="footerText">문의 : wcf941109@gmail.com</div>       
  </footer>
   <!-- 자바 스크립트 연결 -->
   <script type="text/javascript" src="/js/board.js"></script>
</body>
</html>


